@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var authorItem = ((Sitecore.Data.Fields.ReferenceField)Model.Item.Fields["Author"]).TargetItem;

}
<article class="media center">
    <figure class="media-left">
        <span class="image is-64x64">
            @Html.Sitecore().Field("Author Photo", authorItem, new { DisableWebEdit = true })
        </span>
    </figure>
    <div class="media-content">
        <div class="content">
            <h2 class="title is-6">Article Author: @Html.Sitecore().Field("Author Name", authorItem, new { DisableWebEdit = true })</h2>
            <h6 class="subtitle is-small">
                About the author: <br />
                @Html.Sitecore().Field("Author Bio", authorItem, new { DisableWebEdit = true })
            </h6>
        </div>
    </div>
</article>

<div class="section">
    <p class="has-text-grey">
        @Html.Sitecore().Field("Date Time")
    </p>
    <br />
    <p>
        @Html.Sitecore().Field("Primary content text")
    </p>
</div>