@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
    var homeItem = Sitecore.Context.Database.GetItem("/sitecore/content/Home");
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat" rel="stylesheet">
    <title>@Html.Sitecore().Field("Page Title", new { DisableWebEdit = true })</title>
    <link rel="stylesheet" href="~/Project/css/clothingco-styles.css" />
    <link rel="stylesheet" href="~/Project/css/custom.css" />
</head>

<body>
    @* TODO: tutorial uses GUID instead of path *@
    @Html.Sitecore().ViewRendering("~/Views/ClothingCo/Structure/Header.cshtml")
    <div>
        <h1>@Html.Sitecore().Field("Page Title", homeItem, new { DisableWebEdit = true })</h1>
    </div>
    <div>
        <p>@Html.Sitecore().Field("Primary Image", new { mh = "200" })</p>
    </div>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>

    @Html.Sitecore().ControllerRendering("Footer", "Index")

    <script src="~/Project/js/clothingco-script.js"></script>
</body>
</html>